db.sqlite3
__pycache__/
*.pyc
.env
.vscode/
.idea/
*.log
*.pid
*.pot
*.pyc
*.pyo
*.mo
*.db
*.sqlite3
.DS_Store
.coverage
htmlcov/
*.egg-info/
dist/
build/
/_combined*

deployment/
*.pem
/sbom.cyclonedx.json
